
@use "../../partials/variables" as *;

@media (max-width: 1000px) {

  nav {
    background-color: $yellow;
    opacity: 0.95;
    position: fixed;
    width: 100%;
    z-index: 20;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -120%;
    top: 0;
    width: 100%;
    text-align: center; 
    transition: 0.3s; 
    justify-content: center;
    margin-top: 0;
    height: 100vh;
    resize: none;
    overflow: auto;
    background-color: $yellow;
    transition: all 0.3s ease-in-out;
    z-index: 5;
  }

  .menu.active {
      right: 0;
  }

  .menu li {
      padding: 30px;  
  }

  .menu li a {
      margin: 0;
      padding: 0;
      font-size: 5rem;
      text-align: center; 
      color: $black; 
  }


 //*HAMBURGER MENU*//

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: 0.3s;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition: 0.3s;
  }
}
