@use "../partials/variables" as *;

.aboutMe {
  display: flex;
  width: 100%;
  margin: 50px 0;

  .aboutLeft,
  .aboutRight {
    display: flex;
    align-items: center;
  }
  .aboutLeft {
    width: 40%;
    justify-content: flex-end;
  }

  .aboutRight {
    width: 60%;
    margin-left: 30px;
    border-left: 5px solid $yellow;
    padding-left: 30px;
  }
}

.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.aboutStack {
  color: #eee;
  font-size: 2rem;
  line-height: 2rem;
}

.resumeContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}

.resume {
  color: rgba(0, 0, 0, 0.85);
  font-family: $mainAccent;
  font-size: 2.5rem;
  background-color: $yellow;
  text-decoration: none;
  padding: 15px;
  transition: transform 0.6s ease-in-out;

  &:hover {
    color: $white;
    transform: scale(1.1);
    background-color: grey;
  }

  &:focus {
    color: $white;
    transform: scale(1.1);
    background-color: grey;
  }
}

.resume:active {
  animation: push 0.5s ease-in-out;
}

@keyframes push {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
