@use "../partials/variables" as *;

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: navFade 2s ease-in;
}

@keyframes navFade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


.navContainer {
  display: flex; 
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 130px;  

}
 
.logo {
    text-decoration: none;
    color: $black;
    font-size: 3rem;
    font-family: $mainAccent;
    background-color: $yellow;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    &:hover {
      color: $white;
    }
    &:focus {
      color: $white;
    }
}


.menu {
  display: flex;
  align-items: center; 

  li {
  padding: 5px 50px;
  text-transform: uppercase;

  &:nth-of-type(3) {
    padding-top: 5px; 
    padding-bottom: 5px;
    padding-left: 50px; 
    padding-right: 0;
    }
  }
}

.navLink {
  font-family: $mainAccent;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  line-height: 2.9rem;
  text-decoration: none;
  color: $yellow;
  transition: all 0.3s ease-in-out;
  padding: 5px 0;
  position: relative;
  
    &:hover {
      color: $white;
    }
    &:focus {
      color: $white;
    }
  }

  .navLink:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: $white;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
  }
  .navLink:hover:after { 
    width: 100%; 
    left: 0; 
  }
  .navLink:focus:after { 
    width: 100%; 
    left: 0; 

    //underline effect made by following tutorial by justin: https://codepen.io/jstn/details/mdoOZJ
  }


.hamburger {
  display: none;
  z-index: 20;
  cursor: pointer;

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: $black;
  }
}
