@use "../partials/variables" as *;

.projects {
  background-color: $yellow;
}

.projectContainer {
  display: flex; 
  width: 100%;
  margin: 150px 0; 
}

.projectLeft, .projectRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 0; 
  transition: 1.5s ease-in;
	transition-timing-function: cubic-bezier(0.5, 0, 0, 1);

  img {
    border: 1px solid $black;
  }
}

.projectLeft.active, .projectRight.active {
	opacity: 1;
	scale: 1;
}

.projectLeft {
  padding-right: 30px;
  text-align: right;

  h3 {
    text-align: right;
  }

  .linksContainer {
    justify-content: flex-end;
  }
}

.projectRight {
  padding-left: 30px;
  text-align: left;

  h3 {
    text-align: left;
  }

  .linksContainer {
    justify-content: flex-start;
  }
  
}

.linksContainer {
  display: flex;
  width: 100%;


  .codeLink {
    text-decoration: none; 
    color: $white;
    background-color: $black;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    transition: transform 0.6s ease-in-out;

    &:hover {
      color: $white;
      transform: scale(1.1);
      background-color: grey;
    }

    &:focus {
      color: $white;
      transform: scale(1.1);
      background-color: grey;
    }
  }

  .codeLink:active {
    animation: push 0.5s ease-in-out;
  }
}

#revealPoint {
	position: fixed;
	height: 20px;
	width: 100%;
	left: 0;
	bottom: 450px;
	color: transparent;
	padding: 7px;
	margin: 0;
}
