@use "../partials/variables" as *;

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("/fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf");
  font-weight: light;
}

h1, h2 {
  text-transform: uppercase;
  color: #eee; 
}

h1 {
  font-size: 2.8rem;
  display: flex;
  justify-content: center;
  font-family: $bodyText;
  padding: 10px 0;
  width: 100%;
  position: relative; 
  margin-left: -2px;
  flex-direction: column;
  align-items: center;
}

.spanH1A, .spanH1B {
  font-family: $mainAccent;
  font-size: 7rem;
  line-height: 2.5rem;
}

.spanH1A {
  display: flex;
  margin-top: 55px;
  width: 100%; 
  // border: 2px solid green;
}

.spanH1B {
  color: $yellow;
  display: inline-block;
  white-space: pre;        
  position: absolute; 
  left: 180px;
  bottom: 0; 
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;

    &:nth-of-type(1) { 
      animation: rotate 1.5s 0.75s; 
    }
    
    &:nth-of-type(2) { 
      animation: rotate  1.5s 2s; 
    }  

    &:nth-of-type(3) { 
      animation: rotate  1.5s 3.25s; 
    }  
    
    &:nth-of-type(4) { 
      animation: fade-text 1.5s 4.5s forwards;
    }
}

@keyframes rotate { 
  0% {
    transform: translate3d(0, -80px, 0);
    opacity: 0;
  }
  
  20%, 80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  
  100% {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
}

@keyframes fade-text { 
  0% {
    opacity: 0;
    transform: translate3d(0, -80px, 0);
  }
  
  50%, 100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.chat {
  font-size: 3rem;
  color: $yellow;
  text-transform: capitalize;
  font-family: $mainAccent;
  
}

h2 {
  display: inline-block;
  font-size: 4.5rem; 
  text-transform: capitalize;
}

h2, .h2Line {
  font-family: $mainAccent;
  display: inline-block; 
  text-align: right;
  color: $white;
}

.h2Line {
  display: flex; 
  font-size: 5.2rem;
  white-space: pre;
  text-transform: uppercase;
  justify-content: center;
}

.spanH2 {
  display: flex;
  justify-content: flex-end;
  color: $yellow;
  font-family: $mainAccent;
  font-size: 5.2rem;
  white-space: pre;
  text-transform: uppercase;
}


.h2White, .spanH2White {
  text-transform: uppercase;
  font-size: 5rem;
  white-space: pre;
  display: flex;
  justify-content: center;
  font-family: $mainAccent;
}

.h2White {
  color: $white;
  margin-bottom: 100px;
}

.spanH2White {
  color: $black; 
}

.mainText {
  color: $white;
  font-size: 2rem;
  white-space: pre-line;
}

.footerText {
  color: $white;
  font-size: 2.5rem;
  line-height: 2.8rem;
  text-align: center;
  margin-bottom: 30px;
}

.mainTextBlack {
  color: $black;
  font-size: 2.5rem;
  white-space: pre-line;
  font-weight: 500;
}

h3 {
  font-family: $mainAccent;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
}

//rotating text animation created using tutorial by Keenan Payne https://codepen.io/keenanpayne/pen/mxjGmo