@use "../partials/variables" as *;

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("/fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf");
  font-weight: light;
  font-display: swap;
}

h1, h2 {
  text-transform: uppercase;
  color: #eee; 
}

h1 {
  font-size: 2.8rem;
  display: flex;
  justify-content: center;
  font-family: $bodyText;
  padding: 10px 0;
  width: 100%;
  position: relative; 
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.h1A, .spanH1B {
  font-family: $mainAccent;
  font-size: 7rem;
  line-height: 2.5rem;
  text-transform: uppercase;
}

.h1A {
  display: flex;
  color: $white;
  align-items: center;
}

.h1B {
  display: none;
}

.spanH1B {
  display: flex;
  height: 100%;
  padding-left: 20px; 
  color: $yellow;
  animation: spin 8s 3.8s forwards;
  align-items: center;
}

@keyframes spin {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}

.chat {
  font-size: 3rem;
  color: $yellow;
  text-transform: capitalize;
  font-family: $mainAccent;
  opacity: 0;
  animation: chatFade 3s 12s forwards;
}

@keyframes chatFade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

h2 {
  display: inline-block;
  font-size: 4.5rem; 
  text-transform: capitalize;
}

h2, .h2Line {
  font-family: $mainAccent;
  display: inline-block; 
  text-align: right;
  color: $white;
}

.h2Line {
  display: flex; 
  font-size: 5.2rem;
  white-space: pre;
  text-transform: uppercase;
  justify-content: center;
}

.spanH2 {
  display: flex;
  justify-content: flex-end;
  color: $yellow;
  font-family: $mainAccent;
  font-size: 5.2rem;
  white-space: pre;
  text-transform: uppercase;
}

.h2White, .spanH2White {
  text-transform: uppercase;
  font-size: 5rem;
  white-space: pre;
  display: flex;
  justify-content: center;
  font-family: $mainAccent;
}

.h2White {
  color: $white;
  margin-bottom: 100px;
}

.spanH2White {
  color: $black; 
  text-shadow: none;
}

.mainText {
  color: $white;
  font-size: 2rem;
  white-space: pre-line;
}

.footerText {
  color: $white;
  font-size: 2.5rem;
  line-height: 2.8rem;
  text-align: center;
  margin-bottom: 30px;
}

.mainTextBlack {
  color: $black;
  font-size: 2.5rem;
  white-space: pre-line;
  font-weight: 500;
}

h3 {
  font-family: $mainAccent;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
}

.loaderText, .loaderText2{
  font-family: $mainAccent;
  text-transform: uppercase;
}

.loaderText {
  color: $white;
  font-size: 5rem;
}

.loaderText2 {
  color: $yellow;
  font-size: 3rem;
}

