html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "OpenSans-Light";
}

.wrapper {
  max-width: 1700px;
  width: 85%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(0, 0, 0, 0.85);
}

section, footer {
  padding: 100px 0;
  border-top: 5px solid #daa520;
}

#revealPoint {
  position: fixed;
  height: 20px;
  width: 100%;
  left: 0;
  bottom: 450px;
  color: transparent;
  padding: 7px;
  margin: 0;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("/fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf");
  font-weight: light;
  font-display: swap;
}
h1,
h2 {
  text-transform: uppercase;
  color: #eee;
}

h1 {
  font-size: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "OpenSans-Light";
  padding: 10px 0;
  width: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.h1A,
.spanH1B {
  font-family: "Poppins-Semibold";
  font-size: 7rem;
  line-height: 2.5rem;
  text-transform: uppercase;
}

.h1A {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #eee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h1B {
  display: none;
}

.spanH1B {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-left: 20px;
  color: #daa520;
  -webkit-animation: spin 6s 3.8s forwards;
          animation: spin 6s 3.8s forwards;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  33.33% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  66.66% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  33.33% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  66.66% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  100% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
}
.chat {
  font-size: 3rem;
  color: #daa520;
  text-transform: capitalize;
  font-family: "Poppins-Semibold";
  opacity: 0;
  -webkit-animation: chatFade 3s 8s forwards;
          animation: chatFade 3s 8s forwards;
}

@-webkit-keyframes chatFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes chatFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h2 {
  display: inline-block;
  font-size: 4.5rem;
  text-transform: capitalize;
}

h2,
.h2Line {
  font-family: "Poppins-Semibold";
  display: inline-block;
  text-align: right;
  color: #eee;
}

.h2Line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 5.2rem;
  white-space: pre;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spanH2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #daa520;
  font-family: "Poppins-Semibold";
  font-size: 5.2rem;
  white-space: pre;
  text-transform: uppercase;
}

.h2White,
.spanH2White {
  text-transform: uppercase;
  font-size: 5rem;
  white-space: pre;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins-Semibold";
}

.h2White {
  color: #eee;
  margin-bottom: 100px;
}

.spanH2White {
  color: rgba(0, 0, 0, 0.85);
  text-shadow: none;
}

.mainText {
  color: #eee;
  font-size: 2rem;
  white-space: pre-line;
}

.footerText {
  color: #eee;
  font-size: 2.5rem;
  line-height: 2.8rem;
  text-align: center;
  margin-bottom: 30px;
}

.mainTextBlack {
  color: rgba(0, 0, 0, 0.85);
  font-size: 2.5rem;
  white-space: pre-line;
  font-weight: 500;
}

h3 {
  font-family: "Poppins-Semibold";
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
}

.loaderText,
.loaderText2 {
  font-family: "Poppins-Semibold";
  text-transform: uppercase;
}

.loaderText {
  color: #eee;
  font-size: 5rem;
}

.loaderText2 {
  color: #daa520;
  font-size: 3rem;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.faText, .faTextA {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
  cursor: pointer;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
  white-space: pre-line;
  font-weight: 600;
}

.faTextA {
  padding-top: 13px;
}

i {
  color: #daa520;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  cursor: pointer;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100px;
  height: 120px;
  font-size: 8rem;
  -ms-flex-item-align: end;
      align-self: end;
}
i:hover {
  color: #eee;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
i:focus {
  color: #eee;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(0, 0, 0);
  z-index: 1000;
  -webkit-transition: opacity 0.9s, visibility 0.9s;
  transition: opacity 0.9s, visibility 0.9s;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #eee;
  border-top-color: #daa520;
  border-radius: 50%;
  -webkit-animation: loading 0.75s ease infinite;
          animation: loading 0.75s ease infinite;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  from {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  from {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loaderTextContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation: navFade 2s ease-in;
          animation: navFade 2s ease-in;
}

@-webkit-keyframes navFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
}

.logo {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
  font-size: 3rem;
  font-family: "Poppins-Semibold";
  background-color: #daa520;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.logo:hover {
  color: #eee;
}
.logo:focus {
  color: #eee;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu li {
  padding: 5px 50px;
  text-transform: uppercase;
}
.menu li:nth-of-type(3) {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 0;
}

.navLink {
  font-family: "Poppins-Semibold";
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  line-height: 2.9rem;
  text-decoration: none;
  color: #daa520;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 5px 0;
  position: relative;
}
.navLink:hover {
  color: #eee;
}
.navLink:focus {
  color: #eee;
}

.navLink:after {
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #eee;
  -webkit-transition: width 0.5s ease 0s, left 0.5s ease 0s;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}

.navLink:hover:after {
  width: 100%;
  left: 0;
}

.navLink:focus:after {
  width: 100%;
  left: 0;
}

.hamburger {
  display: none;
  z-index: 20;
  cursor: pointer;
}
.hamburger .bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.85);
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), color-stop(30%, rgba(0, 0, 0, 0.6)), color-stop(60%, rgba(0, 0, 0, 0.85)), to(rgba(0, 0, 0, 0.85))), url("/assets/JacksonPoint.jpeg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.85) 60%, rgba(0, 0, 0, 0.85) 100%), url("/assets/JacksonPoint.jpeg");
  background-size: cover;
  background-position: center 95%;
  height: 100vh;
  width: 100%;
  position: relative;
}

.headerContainer {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rotatingContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.arrowContainer {
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrowContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrowText {
  display: block;
  margin-top: 75px;
  font-family: "OpenSans-Light";
  font-size: 1.5rem;
  color: #daa520;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  -webkit-animation: pulse 2s linear alternate infinite;
          animation: pulse 2s linear alternate infinite;
}

.arrow {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
  -webkit-animation: move 3s ease-out infinite;
          animation: move 3s ease-out infinite;
}

.arrow:first-child {
  -webkit-animation: move 3s ease-out 1s infinite;
          animation: move 3s ease-out 1s infinite;
}

.arrow:nth-child(2) {
  -webkit-animation: move 3s ease-out 2s infinite;
          animation: move 3s ease-out 2s infinite;
}

.arrow:before,
.arrow:after {
  content: " ";
  position: absolute;
  top: 0;
  background: #daa520;
  height: 100%;
  width: 51%;
}

.arrow:before {
  left: 0;
  -webkit-transform: skew(0deg, 30deg);
          transform: skew(0deg, 30deg);
}

.arrow:after {
  right: 0;
  width: 50%;
  -webkit-transform: skew(0deg, -30deg);
          transform: skew(0deg, -30deg);
}

@-webkit-keyframes pulse {
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 50px 0;
}
.aboutMe .aboutLeft,
.aboutMe .aboutRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutMe .aboutLeft {
  width: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.aboutMe .aboutRight {
  width: 60%;
  margin-left: 30px;
  border-left: 5px solid #daa520;
  padding-left: 30px;
}

.stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.aboutStack {
  color: #eee;
  font-size: 2rem;
  line-height: 2rem;
}

.resumeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.resume {
  color: rgba(0, 0, 0, 0.85);
  font-family: "Poppins-Semibold";
  font-size: 2.5rem;
  background-color: #daa520;
  text-decoration: none;
  padding: 15px;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}
.resume:hover {
  color: #eee;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: grey;
}
.resume:focus {
  color: #eee;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: grey;
}

.resume:active {
  -webkit-animation: push 0.5s ease-in-out;
          animation: push 0.5s ease-in-out;
}

@-webkit-keyframes push {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes push {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.projects {
  background-color: #daa520;
}

.projectContainerA, .projectContainerB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 120px 0;
}

.projectLeft, .projectRight {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  opacity: 0;
  -webkit-transition: 1.5s ease-in;
  transition: 1.5s ease-in;
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
}

.imgLink {
  width: 100%;
  height: 100%;
}
.imgLink img {
  border: 1px solid rgba(0, 0, 0, 0.85);
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.projectLeft.active, .projectRight.active {
  opacity: 1;
  scale: 1;
}

.projectLeft {
  padding-right: 30px;
  text-align: right;
}
.projectLeft h3 {
  text-align: right;
}
.projectLeft .linksContainer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.projectLeft .codeLink {
  margin-right: 0;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.projectRight {
  padding-left: 30px;
  text-align: left;
}
.projectRight h3 {
  text-align: left;
}
.projectRight .linksContainer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.projectRight .codeLink {
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.linksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: auto;
}
.linksContainer .codeLink {
  text-decoration: none;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.85);
  font-size: 3rem;
  text-transform: uppercase;
  padding: 10px;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  margin-bottom: 0;
}
.linksContainer .codeLink:hover {
  color: #eee;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: grey;
}
.linksContainer .codeLink:focus {
  color: #eee;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: grey;
}
.linksContainer .codeLink img {
  width: 100%;
  height: auto;
}
.linksContainer .codeLink:active {
  -webkit-animation: push 0.5s ease-in-out;
          animation: push 0.5s ease-in-out;
}

.footerContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.headshot {
  border-radius: 50%;
  border: 10px solid rgba(218, 213, 213, 0.562);
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
}

.socialMediaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.socialBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social {
  font-size: 2rem;
  margin-top: 5px;
  font-family: "OpenSans-Light";
}

.email {
  color: #eee;
}
.email:hover {
  color: #daa520;
}
.email:focus {
  color: #daa520;
}

@media (max-width: 1560px) {
  .h1A, .spanH1B {
    font-size: 5rem;
  }
  .spanH1B {
    left: 130px;
  }
}
@media (max-width: 1200px) {
  .h1A, .spanH1B {
    font-size: 4.3rem;
  }
  .spanH1B {
    left: 115px;
  }
  .mainTextBlack, .mainText, .footerText, .linksContainer > .codeLink {
    font-size: 2rem;
  }
  h3 {
    font-size: 3rem;
  }
  .projectContainer {
    margin: 80px 0;
  }
  .h2White {
    color: #eee;
    margin-bottom: 80px;
  }
}
@media (max-width: 1000px) {
  .logo {
    background-color: #eee;
  }
  .logo:hover {
    background-color: rgba(0, 0, 0, 0.85);
  }
  .logo:focus {
    background-color: rgba(0, 0, 0, 0.85);
  }
  nav {
    background-color: #daa520;
    opacity: 0.95;
    position: fixed;
    width: 100%;
    z-index: 20;
  }
  header {
    top: 90px;
    height: calc(100vh - 90px);
    background-position: 80% center;
  }
  .navContainer {
    height: 90px;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    right: -120%;
    top: 0;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
    height: 100vh;
    resize: none;
    overflow: auto;
    background-color: #daa520;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 5;
  }
  .menu.active {
    right: 0;
  }
  .menu li {
    padding: 30px;
    list-style-type: none;
  }
  .menu li:nth-of-type(3) {
    padding: 30px;
  }
  .menu li a {
    margin: 0;
    padding: 0;
    font-size: 5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .headerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: calc(100vh - 90px);
  }
  .h1A, .spanH1B {
    font-family: "Poppins-Semibold";
    font-size: 4.6rem;
    line-height: 1.5rem;
  }
  .spanH1B {
    padding-left: 15px;
  }
  .arrowContainer {
    display: none;
  }
  .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutMe .aboutLeft, .aboutMe .aboutRight {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .stack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .spanH2 {
    display: inline;
    font-size: 4.2rem;
  }
  .h2Line {
    font-size: 4.2rem;
  }
  .resume:hover {
    -webkit-transform: none;
            transform: none;
  }
  .resume:focus {
    -webkit-transform: none;
            transform: none;
  }
  .projectContainerA, .projectContainerB {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px auto;
  }
  .projectContainerA div:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .projectLeft, .projectRight {
    width: 100%;
    padding: 0;
    opacity: 1;
  }
  .projectLeft .codeLink, .projectRight .codeLink {
    margin: 5px 0;
  }
  .projectRight > h3, .projectLeft > h3 {
    text-align: center;
  }
  h3, .linksContainer, .mainTextBlack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  h3 {
    margin-top: 20px;
  }
  .linksContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  .codeLink {
    width: 100%;
  }
  .codeLink:hover {
    -webkit-transform: none;
            transform: none;
  }
  .codeLink:focus {
    -webkit-transform: none;
            transform: none;
  }
  #revealPoint {
    position: fixed;
    height: 20px;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 7px;
    margin: 0;
  }
}
@media (max-width: 750px) {
  .spanH1B {
    padding-left: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rotatingContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 4.8rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  section {
    padding: 100px 0;
  }
  .h1A, .spanH1B {
    font-size: 4.3rem;
  }
  .h1A {
    display: none;
  }
  .h1B {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #eee;
  }
  .rotatingContainer {
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .chat {
    font-size: 2.5rem;
  }
  h2, .spanH2, .h2Line, .h2White, .spanH2White {
    font-size: 3.8rem;
  }
  .h2White {
    margin-bottom: 0px;
  }
  .stack i {
    font-size: 5rem;
    margin: 15px;
    height: 80px;
    width: 80px;
  }
  .stack i .faText {
    font-size: 1.6rem;
    margin-top: auto;
  }
  h3 {
    font-size: 3.5rem;
  }
  .socialBox i {
    font-size: 5rem;
    margin: 0px;
  }
  .resumeContainer {
    margin-top: 60px;
  }
  .resume {
    font-size: 2rem;
  }
  footer {
    padding: 50px 0;
  }
  .footerText {
    line-height: 2rem;
    white-space: normal;
  }
}
@media (max-width: 575px) {
  h1, .chat {
    font-size: 2.3rem;
  }
  .h1B {
    font-size: 2rem;
    text-transform: none;
  }
  .spanH1B {
    font-size: 3.4rem;
  }
  h2, .spanH2, .h2Line, .h2White, .spanH2White {
    font-size: 3rem;
  }
  h3 {
    font-size: 3rem;
  }
  .mainText, .mainTextBlack, .footerText {
    font-size: 1.8rem;
  }
  .mainText {
    text-align: center;
  }
  .resumeContainer {
    margin-top: 30px;
  }
  .socialMediaContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 455px) {
  h1, .chat {
    font-size: 1.8rem;
  }
  .h1B {
    font-size: 1.6rem;
    margin-bottom: 0;
  }
  .spanH1B {
    font-size: 2.26rem;
  }
  .rotatingContainer {
    margin-top: 0;
  }
  .loaderText {
    color: #eee;
    font-size: 3rem;
  }
  .loaderText2 {
    color: #daa520;
    font-size: 2rem;
  }
  .h2Line, .h2White, .spanH2White, h3 {
    font-size: 2.5rem;
  }
  h2, .spanH2 {
    font-size: 2.1rem;
  }
  footer .spanH2 {
    font-size: 2.5rem;
  }
  .socialBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .socialBox i {
    font-size: 4rem;
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100px;
  }
  .mainText, .mainTextBlack, .footerText {
    font-size: 1.6rem;
  }
  .stack {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .stack i {
    margin-left: 0;
    margin-right: 0;
    width: 50%;
  }
}